/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
body { line-height: 1.5; -webkit-font-smoothing: antialiased; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
input, button, textarea, select { font: inherit; }
/*p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }*/
#root, #__next { isolation: isolate; }
/* more css reset */
table { border-collapse: collapse; border-spacing: 0; }

/**/
/* color */
/**/

body {
  background: #2f2b5c;
  color: #2c1b2e;
}

.postit {
  background: #fff4e0;
  padding: 0.5em;
  padding-left: 2em;
  margin: 0.5em 0;
}

a { color: #457cd6; }
a:visited { color: #4b3b9c; }
a:hover { color: #d46e33; }

#filterContainer {
  border: 2px solid #2f2b5c;
  border-top-width: 0px;
}

th { background: #8fcccb; color: #285763; }
tr { transition: background 0.12s; }
tr:nth-child(2n) { background: #fff4e0; }
tr:nth-child(2n+1) { background: #d1b48c; }
tr[data-filterscore="1"] { background: #8fcccb; }
tr[data-filterscore="2"] { background: #449489; }
tr[data-filterscore="3"] { background: #285763; color: #fff4e0; }
tr[data-filterscore="4"] { background: #2f2b5c; color: #fff4e0; }

th, td {
  text-align: left;
  padding: 0.25em 0.5em;
}

.tag         {color: white}
.tag:visited {color: white}
.tag:hover   {color: blue}

.tag {
  transition: background 0.12s,color 0.12s;
  background: url(/art/missing.png);
}
.tag[data-id=game]      {background: #9c1}
.tag[data-id=puzzle]    {background: #509}
.tag[data-id=action]    {background: #701}
.tag[data-id=paper]     {background: #31d}
.tag[data-id=yajilin]   {background: #110}
.tag[data-id=blog]      {background: #130}
.tag[data-id=tiny]      {background: #65a}
.tag[data-id=small]     {background: #1ab}
.tag[data-id=medium]    {background: #150}
.tag[data-id=large]     {background: #a74}
.tag[data-id=code]      {background: #170}
.tag[data-id=hard]      {background: #d21}
.tag[data-id=tool]      {background: #190}
.tag[data-id=animation] {background: #415}
.tag[data-id=sizecode]  {background: #613}
.tag[data-id=about]     {background: #088}
.tag[data-id=physical]  {background: #2d6}
.tag[data-id=collab]    {background: #250}
.tag[data-id=best]      {background: #d91}
.tag[data-id=tutorial]  {background: #23b}
.tag[data-id=music]     {background: #421}

.tag[data-state=off]    {background: gray}

/*
category based colors; looks kinda boring tho

.tag[data-id=game]      {background: #509}
.tag[data-id=animation] {background: #509}
.tag[data-id=blog]      {background: #509}
.tag[data-id=tool]      {background: #509}
.tag[data-id=code]      {background: #509}
.tag[data-id=music]     {background: #509}
.tag[data-id=puzzle]    {background: #65a}
.tag[data-id=action]    {background: #65a}
.tag[data-id=physical]  {background: #65a}
.tag[data-id=tiny]      {background: #18b}
.tag[data-id=small]     {background: #18b}
.tag[data-id=medium]    {background: #18b}
.tag[data-id=large]     {background: #18b}
.tag[data-id=paper]     {background: #8a4}
.tag[data-id=hard]      {background: #701}
.tag[data-id=sizecode]  {background: #571}
.tag[data-id=collab]    {background: #250}
.tag[data-id=tutorial]  {background: #22c}
.tag[data-id=best]      {background: #d90}
*/

/**/
/* other */
/**/

body {
  padding: 0px 20px;
  font-family: monospace;
}

h2 {
  margin-top: 2em;
  text-align: right;
}

table, th, td {
  border: 2px solid #2c1b2e;
}

body {
  max-width: 900px;
}

#filterContainer {
  width:60%;
  margin-left:auto;
  position: sticky;
  top: 0px;
}
table {
  width: 90%;
  margin: auto;
}

.tag {
  display: inline-block;
  padding: 0em 0.5em;
  border-radius: 0.3em;
  margin-right: 0.25em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  white-space: nowrap;
  cursor: pointer;
  border: none;
}

#footer {
  height: 250px;
}
